@font-face {
    font-family: 'HanketGrotesk-bold';
    src: url('./assets/fonts/static/HankenGrotesk-Bold.ttf') format('truetype');
  }

@font-face {
    font-family: 'HanketGrotesk-extraBold';
    src: url('./assets/fonts/static/HankenGrotesk-ExtraBold.ttf');
}
@font-face {
    font-family: 'HanketGrotesk-medium';
    src: url('./assets/fonts/static/HankenGrotesk-Medium.ttf');
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
    /* background-color: bisque; */
}

.container_2nd{
    height: fit-content;
    width: 50vw;
    background-color: hsl(0, 0%, 100%);
    border-radius: 30px;
    display: flex;
    box-shadow: 5px 5px 25px rgba(128, 128, 128, 0.193);
    

}
.result{
    /* background-color: blue; */
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    width: 50%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
#your_result{
    font-size: 1.5rem;
    margin-top: 2rem;
    font-family: 'HanketGrotesk-medium';
}

#score_circle{
    width: 170px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: blueviolet; */
    background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    border-radius: 50%;

}
#score_circle2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#score_circle h1{
    font-size: 4rem;
    margin: 0;
    color: hsl(0, 0%, 100%);
    font-family: 'HanketGrotesk-extraBold';
}
#score_circle h6{
    font-size: 1rem;
    margin: 0.5px;
    font-family: 'HanketGrotesk-medium';
}
#great{
    margin: 1rem;
    font-size: 2rem;
    color: hsl(0, 0%, 100%);
    font-family: 'HanketGrotesk-bold';
}
.pale_blue{
    color: hsl(221, 100%, 96%);
}
.lavender{
    color: hsl(241, 100%, 89%);
}

#performance{
    margin: 0 0 2.5rem 0;
    width: 70%;
    font-size: 1rem;
    text-align: center;
    font-family: 'HanketGrotesk-medium';
}

#summary{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:33px;
    width: 40%;
    
}
.summary_item{
    height: 45px;
    background-color: antiquewhite;
    /* width: 40%; */
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2px 16px;
    font-family: 'HanketGrotesk-medium';
}

.score{
    color: hsl(243, 10%, 59%);
    font-family: 'HanketGrotesk-bold'; 
}
.score span{
    color: hsl(224, 30%, 27%);
}

#summary_title{
    font-size: 1.5rem;
    padding: 0;
    background-color: white;
    font-family: 'HanketGrotesk-bold';
}

.i{
    font-size: 16px;
}

#summary p{
    margin: 0;
}

#continue_btn{
    border: none;
    border-radius: 40px;
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.5rem;
    color: hsl(221, 100%, 96%);
    background-color: hsl(224, 30%, 27%);

}

#summary img{
    /* margin: 2px; */
    /* background-color: red; */
    /* margin-top: 10px; */
    margin-right: 10px;
    height: 18px;
}
.item_initial{
    display: flex;
    flex-direction: row;
    justify-content:flex-start ;
    align-items: center;
}

.reaction{
    background-color: hsla(0, 100%, 67%, 0.085);
    color: hsl(0, 100%, 67%);
}
.memory{
    background-color: hsla(39, 100%, 56%, 0.085);
    color: hsl(39, 100%, 56%);
}
.verbal{
    background-color: hsla(166, 100%, 37%, 0.085);
    color: hsl(166, 100%, 37%);
}
.visual{
    background-color: hsla(234, 85%, 45%, 0.085);
    color: hsl(234, 85%, 45%);
}

@media (max-width:1000px) {
    
    .container{
        height: fit-content;
        flex-direction: row;
        /* width: 100vw; */
    }
    .container_2nd{
        flex-direction: column;
        align-items: center;
        min-width: 100vw;
        border-radius: 0 0 30px 30px;
    }
    .result{
        border-radius: 0 0 30px 30px ;
        width: 100%;
    }
    #summary{
        width: 100%;
        /* padding: 0 10px; */
    }
    .summary_item{
        margin: 0 25px 15px 25px;
    }
    #continue_btn{
        margin-top: 5px;
    }
}
